<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80}
				[%line] -%msg%n</pattern>
		</layout>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>log/cpub.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>14</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80}
				[%line] -%msg%n</pattern>
		</layout>
	</appender>
	<root level="info">
		<!--<appender-ref ref="stdout" />-->
		<appender-ref ref="file" />
	</root>
        <logger name="com.fx">
            <level value="debug" />
            <appender-ref ref="stdout" />
            <appender-ref ref="file" />
        </logger>
		<logger name="com.hx">
            <level value="debug" />
            <appender-ref ref="stdout" />
            <appender-ref ref="file" />
        </logger>
		<logger name="com.ht">
            <level value="debug" />
            <appender-ref ref="stdout" />
            <appender-ref ref="file" />
        </logger>
        <logger name="org.apache.ibatis">
            <level value="debug" />
            <appender-ref ref="stdout" />
            <appender-ref ref="file" />
        </logger>
</configuration>